<div class="container">
  <div class="row justify-content-center mt-3 mb-3">
    <h2>投稿編集</h2>
  </div>
  <div class="row justify-content-center mb-2">
    <%= render 'shop/posts/form', post: @post, shop: @shop, url: shop_post_path(@post), submit: "編集する" %>
  </div>
</div>