<% if resource.errors.any? %>
  <%= content_for :devise_alert do %>
    <div class="alert alert-danger">
      登録に失敗しました
    </div>
  <% end %>
  <div class="alert alert-warning">
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
